.e-hero-section {
  width: 100%;
  position: relative;
  overflow: hidden;
  @media (max-width: 767px) {
    min-height: calc(100vh - 55px);
  }
  .__decorate {
    position: absolute;
    z-index: 2;
    @media (max-width: 767px) {
      display: none;
    }
    &.__decorate-1 {
      left: 0;
      top: 0;
    }

    &.__decorate-2 {
      right: 0;
      bottom: -30px;
    }
  }

  .__decorate-mb {
    position: absolute;
    z-index: 2;
    @media (min-width: 768px) {
      display: none;
    }
    &.__decorate-mb-1 {
      left: 0;
      top: 50%;
      z-index: 11;
    }

    &.__decorate-mb-2 {
      right: 0;
      top: 13%;
    }
  }

  &__background-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (max-width: 767px) {
      background-image: url(../../../images/Mobile.png) !important;
    }
  }

  &__inner {
    position: relative;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    @media (max-width: 767px) and (orientation: portrait) {
      position: absolute;
      height: 100%;
      display: block;
      width: 100% !important;
      left: 0;
      top: 0;
    }
  }

  &__desc {
    width: 55%;
    padding: 115px 0;

    @media (max-width: 954px) {
      text-align: center;
      font-size: 8vw !important;
      max-width: 80%;
      margin: 0 auto;
    }
    @media (max-width: 767px) {
      font-size: 40px !important;
    }

    @media (max-width: 767px) and (orientation: portrait) {
      position: absolute;
      top: 45%;
      font-size: 43px !important;
      left: 50%;
      max-width: 90%;
      transform: translate(-50%, -50%);
    }
    @media (max-width: 400px) {
      font-size: 34px !important;
      max-width: 100%;
    }
  }

  &__extra {
    width: 45%;
    @media (max-width: 767px) and (orientation: portrait) {
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (max-width: 954px) {
    &__desc {
      width: 100%;
      padding: 10vw 20px;
    }

    &__extra {
      width: 100%;
      padding: 0 20px;
    }
  }

  @media (max-width: 767px) and (orientation: landscape) {
    &__desc {
      padding: 22vw 20px 10vw;
    }
  }

  @media (max-width: 400px) {
    &__desc {
      padding: 4vw 15px;
    }
  }

  &__tag {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 125px;
    margin-top: 31px;

    @media (max-width: 954px) {
      display: none;
    }
  }

  &__tag-item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__cta-button {
    padding-left: 18%;
    margin-bottom: 30px;
    @media (max-width: 954px) {
      padding: 0;
      text-align: center;
      margin-bottom: 82px;
    }

    a.btn-custom-cta {
      width: 310px;
      height: 75px;
      background-image: url("../../../images/button.png");
      background-repeat: no-repeat;
      background-size: contain;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;

      @media (max-width: 954px) {
        margin: 0 auto;
      }

      @media (max-width: 400px) {
        width: 240px;
        height: 57px;
      }

      span {
        display: inline-block;
        padding-right: 25%;
      }
    }
  }

  &__cta-text {
    font-family: var(--content-font);
    font-size: 24px;
    font-weight: 500;
    color: #ffa66d;
    line-height: 28px;
    width: 191px;
    max-width: 100%;

    @media (max-width: 954px) {
      display: inline-block;
    }

    @media (max-width: 400px) {
      font-size: 16px;
      width: 100%;
    }
  }
}

.__custom-color {
  color: #6eccc9;
  @media (max-width: 767px) {
    color: #6eccc9 !important;
  }
}
