.e-product-cate-menu {

  &__inner {
    padding: 45px 55px;
    background-color: white;
    margin-top: 70px;
    .p-term-list {
      margin: 0;
      padding: 0;

      &__item {
        list-style: none;
        
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        &.active-item{
          > a {
            .__icon-arrow {
              svg {
                fill: #E4752E;
              }
            }
          }
        }
        > a {
          color: #019490;
          font-size: 16px;
          font-weight: 500;
          font-family: var(--content-font);
          display: flex;
          align-items: flex-start;

          .__icon-arrow {
            margin-right: 7px;
            line-height: 0;
            margin-top: 8px;

            svg {
              fill: #6ECCC9;
              transition: .3s ease;
              -webkit-transition: .3s ease;
            }
          }

          &:hover {

            .__icon-arrow {

              svg {
                fill: #E4752E;
              }
            }
          }
        }
      }
    }
  }
}